@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

.signup {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
  font-family: 'Comfortaa', cursive;
}

.form {
  position: relative;
  margin: 0 auto 100px;
  padding: 45px;
  z-index: 1;
  border-radius: 10px;
  max-width: 360px;
  text-align: center;
  background: #FFFFFF;
}
body {
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}

.form input {
  outline: 0;
  width: 100%;
  border-radius: 5px;
  margin: 0 0 15px;
  padding: 15px;
  font-size: 14px;
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
  border: none;
  border-bottom: #4b6cb7;
  background: #f2f2f2;
}

.form button {
  font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  padding: 15px;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 5px;
  border: 0;
  color: #FFFFFF;
  background: #4b6cb7;
}

.form input:focus {
    background: #dbdbdb;
}

.form span {
    font-size: 75px;
    color: #4b6cb7;
}

.form button:active {
  background: #395591;
}